<section class='field'>
  <div class="enable-topic-voting">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_topic_voting}}
      {{i18n 'voting.allow_topic_voting'}}
    </label>
  </div>
</section>

<section class="field">
  <label>{{i18n 'category.voting_tl0_vote_limit'}}</label>
  {{input type="number" value=category.custom_fields.tl0_vote_limit}}
</section>

<section class="field">
  <label>{{i18n 'category.voting_tl1_vote_limit'}}</label>
  {{input type="number" value=category.custom_fields.tl1_vote_limit}}
</section>

<section class="field">
  <label>{{i18n 'category.voting_tl2_vote_limit'}}</label>
  {{input type="number" value=category.custom_fields.tl2_vote_limit}}
</section>

<section class="field">
  <label>{{i18n 'category.voting_tl3_vote_limit'}}</label>
  {{input type="number" value=category.custom_fields.tl3_vote_limit}}
</section>

<section class="field">
  <label>{{i18n 'category.voting_tl4_vote_limit'}}</label>
  {{input type="number" value=category.custom_fields.tl4_vote_limit}}
</section>
